/*this code for the service section*/
.services-preview {
  padding:90px 0;
  background: var(--bg-primary);
}
.service-header{
  text-align: center;
  justify-content: center;
  padding: 40px;
}
.section-tag{
  font-size: var(--space-md);
  margin-bottom:15px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  background:var(--rface);
  border-radius: var(--radius-pill);
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  border: 1.5px solid var(--border-hover);
  animation: pulse2 2s infinite;
}

@keyframes pulse2 {
  0%, 100% {
     opacity: 1; 
    }
  50% {
     opacity: 0.7;
     }
}
.service-title{
  font-size: clamp(2rem, 5vw, 2.3rem);
  margin-bottom: 20px;
  line-height: 1.2;
}
.service-subtitle{
  font-size: var(--space-md);
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* card */
.card_icon {
  font-size: 48px;
  color: var(--primary);
  margin-bottom: 20px;
  transition: var(--transition);
}
.service-card:hover i{
  transform: scale(1.2);
}
.card_title {
  margin-bottom: 12px;
}
.card_desc {
  font-size: 14px;
  line-height: 1.6;
}
/*  Tablet  */
@media (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile  */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns:repeat(1,1fr);
  }

  .services-preview {
    padding: 60px 15px;
  }

  .service-header {
    padding: 20px;
  }

  .service-title {
    font-size: 1.8rem;
  }

  .card_icon {
    font-size: 36px;
  }

  .card_desc {
    font-size: 13px;
  }
}
/*  Small Mobile */
@media (max-width: 480px) {
  .service-title {
    font-size: 1.5rem;
  }

  .section-tag {
    font-size: 14px;
    padding: 6px 14px;
  }

  .btn-service {
    padding: 10px;
    margin: 10px;
  }
}
