/* THEME */

/* LIGHT */
:root{
 --bg:#F8FAFC;
 --surface:#ffffff;

 --text:#0F172A;
 --text-muted:#475569;

 --border:rgba(0,0,0,.08);

 /* Hero */
 --hero-gradient:
 linear-gradient(
 135deg,
 #eef2ff 0%,
 #dbeafe 45%,
 #ede9fe 100%
 );

 --hero-text:#111827;
 --hero-link:#4f46e5;

 /* Content */
 --paragraph:#475569;
 --quote-bg:#e0e7ff;

 /* CTA */
 --cta-gradient:
 linear-gradient(
 135deg,
 #6366f1,
 #8b5cf6
 );

 --cta-text:#fff;
 --cta-btn-bg:#fff;
 --cta-btn-text:#4f46e5;
}


/* DARK */
:root.dark{
 --bg:#0B0F19;
 --surface:#111827;

 --text:#F9FAFB;
 --text-muted:#94A3B8;

 --border:rgba(255,255,255,.08);

 /* Hero */
 --hero-gradient:
 linear-gradient(
 135deg,
 #111827 50%,
 #1e1b4b 50%,
 #312e81 100%
 );

 --hero-text:#F9FAFB;
 --hero-link:#a5b4fc;

 /* Content */
 --paragraph:#CBD5E1;
 --quote-bg:#1E293B;

 /* CTA */
 --cta-gradient:
 linear-gradient(
 135deg,
 #111827 50%,
 #1e1b4b 50%,
 #312e81 100%
 );

 --cta-text:#fff;
 --cta-btn-bg:#fff;
 --cta-btn-text:#4f46e5;
}

/* BASE */

*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 background:var(--bg);
 color:var(--text);
 font-family:'Poppins',sans-serif;
 transition:.35s ease;
}

.container{
 width:90%;
 max-width:900px;
 margin:auto;
}

/* HERO */

.hero{
 background:var(--hero-gradient);
 color:var(--hero-text);
 padding:60px 0;
 transition:.35s ease;
}

.back{
 color:var(--hero-link);
 text-decoration:none;
}

.hero h1{
 font-size:30px;
 margin-bottom:20px;
 line-height:1.3;
}

.cover{
 width:100%;
 border-radius:18px;
 margin:22px 0;
}


/* CONTENT */

.content{
 margin-top:40px;
}

.content h2{
 margin:22px 0 12px;
}

.content p{
 line-height:1.8;
 margin-bottom:15px;
 color:var(--paragraph);
}

blockquote{
 background:var(--quote-bg);
 padding:18px;
 border-left:4px solid #6366f1;
 border-radius:12px;
 margin:24px 0;
 font-style:italic;
}

/* SHARE */

.share{
 margin:40px auto;
 text-align:center;
}

.share button{
 margin:10px 5px;
 padding:10px 16px;
 background:linear-gradient(135deg,#6366f1,#8b5cf6);
 border:none;
 border-radius:10px;
}

.share a{
 color:white;
 text-decoration:none;
}

/* CTA */

.cta{
 background:var(--cta-gradient);
 color:var(--cta-text);
 text-align:center;
 padding:60px 20px;
 transition:.35s ease;
}

.cta h2{
 margin-bottom:10px;
}

.cta button{
 margin-top:18px;
 padding:12px 24px;
 border:none;
 border-radius:30px;
 font-weight:600;
 cursor:pointer;

 background:var(--cta-btn-bg);
 color:var(--cta-btn-text);
}

.cta a{
 text-decoration:none;
 color:inherit;
}

/* THEME BUTTON */

.theme-btn{
 position:fixed;
 bottom:15px;
 right:15px;
 z-index:9999;

 display:flex;
 align-items:center;
 gap:8px;

 padding:11px 18px;
 border:none;
 border-radius:30px;
 cursor:pointer;

 background:var(--surface);
 color:var(--text);

 box-shadow:
 0 4px 20px rgba(0,0,0,.08);

 transition:.3s;
}

.theme-btn:hover{
 transform:translateY(-2px);
}


/* MOBILE */

@media(max-width:600px){
 .hero h1{
   font-size:22px;
 }
}